body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #E5E5E5;
}

.app-container{
  display: flex;
  padding: 20px;
}
.other-pages{
  flex: 4;
  padding-left: 32px;
}
.navbar-container{
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 1;
  background-color: #E5E5E5;
  padding-bottom: 30px;
}
.navbar-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right{
  display: flex;
  justify-content: center;
  align-items: center;

}
.nav-icon{
  height: 12px;
  width: 17px;
}
.nav-arrow{
  width: 11px;
  height: 5px;
  margin-top: 7px;
  margin-right: 11px;
}
.nav-bell{
  height: 19.5px;
  width: 15.17px;
  cursor: pointer;
}
.nav-user-img{
  height: 40px;
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}
.nav-links{
  display: flex;
  text-decoration: none;
  padding: 0;
  margin-left: 37px;
}
.nav-link{
  text-decoration: none;
  list-style-type: none;
  margin-right: 11px;
  font-size: 14px;
  color: #727A8B;
  cursor: pointer;
}
#note{
  color: #5141A4;
}

.sidebar-container{
  flex: 1;
  border-radius: 8px;
  padding: 128px 37px 51px 37px;
  height: 100vh;
  background-color: #110C35;
  
}
.sidebar-list{
  list-style: none;
  padding: 5px;
}
.list-item{
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 14px 17px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #434D64;
  border-radius: 8px;
    height: 15px;
}

.note-header{
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 24px 24px 0 24px;
}
.note-text{
  font-weight: bold;
  font-size: 20px;
}
.all-note-text{
  border-bottom: solid 2px #5141A4;
  padding-bottom: 16px;
  color: #5141A4;
  font-weight: bold;
  font-size: 14px;
}
.note-first-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-category{
  height: 35px;
  width: 160px;
  border-radius: 4px;
  padding: 0px 10px;
}
.add-new-note{
  background-color: #5141A4;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  border: none;
  color: white;
  margin-left: 10px;
}
.note-second-row{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.box-image{
  width: 22.67px;
  height: 18.67px;
}
.purple-box-image{
  width: 18.67px;
  height: 18.67px;
  margin-left: 10px;
}

.create-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 112px;
}
.card-image{
  height: 193px;
  width: 195px;
}
.create-paragraph{
  width: 396px;
  text-align: center;
  font-weight: 400;
  margin: 32px auto;
  font-size: 14px;
  line-height: 19.6px;
  line-height: 140%;
}
.create-new-note{
  background-color: #5141A4;
  cursor: pointer;
  border-radius: 4px;
  padding: 19px 24px;
  border: none;
  color: white;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .app-container{
    display: flex;
    padding: 20px;
  }
  .other-pages{
    flex: 4;
    padding-left: 0px;
  }
  .sidebar-container{
    display: none;
  }
  .note-header{
    padding: 16px;
  }
  .note-text{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
  }
  .note-first-row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .create-paragraph{
    width: 100%;
  }

}

.error-container{
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error-message{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 428px;
  padding: 40px;
  margin-top: -150px;
}
.error-message h1{
  font-size: 40px;
  margin: 0;
}
.error-message p{
  font-size: 14px;
  text-align: center;
  margin: 16px auto;
}
.error-image{
  display: flex;
}
.mobile{
  height: 340px;
  width: 161px;
}
.signal{
  margin-top: -220px;
  margin-left: auto;
  margin-right: auto;
  width: 55px;
  width: 55px;
}
.man{
  height: 357px;
  width: 176px;
  margin-left: 20px;
}
.mobile-image{
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 600px) {
  .error-message{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 340px;
    padding: 40px;
    margin-top: -150px;
  }
  .error-message h1{
    font-size: 40px;
    margin: 0;
  }
  .error-message p{
    font-size: 14px;
    text-align: center;
    margin: 16px auto;
  }

}

.file{
  visibility: none;
  display: none;
}
label{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.drag{
  font-weight: 500;
}
.browse{
  color: #5141A4;
  font-size: 14px;
}
.upload-file{
  display: flex;
  border-radius: 4px;
  border:2px dashed #D0D3D8;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
}
.upload-file button{
  border: none;
  background-color: transparent;
}
.new-note-text{
  font-size: 28px;
}
.notes{
  padding: 10px 15px;
  height: 168px;
}


.modal-container .overlay{ 
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.modal-content{
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 50px !important;
  float: right;
  height: 100vh;
}

.mobal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overlay {
  background: rgba(58, 57, 57, 0.8);
}
.close-icon{
  font-size: 24px;
  cursor: pointer;
}
.close-icon:hover{
  color: #5141A4;
}
body.active-modal{
  overflow-y: hidden;
}
.input-items{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.input-field{
  padding: 0px 16px;
  height: 45px;
  margin-bottom: 20px;
  border: 1px solid #D0D3D8;
  font-size: 14px;
  color: #727A8B;
  border-radius: 4px;
}
.category-section{
  width: 100%;
  border: solid red;
}
.note-category{
  width: 100%;
  padding: 16px;
  border: 1px solid #D0D3D8;
}
textarea{
  border: 1px solid #D0D3D8;
  font-size: 14px;
  color: #727A8B;
  border-radius: 4px;
}
.buttons{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.cancel-btn{
  color: #5141A4;
  background-color: white;
  border: solid 1px #5141A4;
  cursor: pointer;
  padding: 15px 24px;
  width: 45%;
  border-radius: 4px;
}
.create-btn{
  background-color: #5141A4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 24px;
  width: 45%;
  border: 4px;
}

@media only screen and (max-width: 600px) {
  .modal-content{
    width: 85%;
    display: flex;
    padding: 30px 50px 0px 50px;
    float: none;
  }
}